<div ng-controller="ProductController as ctrl" class="card" style="width: 20rem;">
  <img class="card-img-top" ng-src="{{product.image}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <h6 class="card-title">{{product.price | currency}}</h4>
    <p class="card-text">{{product.description}}</p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" ng-hide="insideCart" ng-click="ctrl.addToCart(product)">Add to Cart</button>
    <button type="button" class="btn btn-danger" ng-show="insideCart" ng-click="ctrl.removeFromCart(product)">Remove</button>
  </div>
</div>
