<div ng-controller="StoreController as ctrl">
  <header>
      <h2 class="text-center">Integritas Store</h2>
      <h6 class="text-center">Cart items: {{ctrl.getItemsQty()}} Total: {{ctrl.getCartPrice() | currency}}</h6>
      <div class="text-center" ng-show="ctrl.cartContainItems()"><a href="#/checkout" class="text-center" ng-show="ctrl.cartContainItems()" class="badge badge-success">Proceed to Checkout</a></div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div ng-repeat="product in products | orderBy:'-price'" ng-show="product.canSell">
        <div class="col-sm-4">
          <is-product></is-product>
        </div>
      </div>
    </div>
  </div>
</div>
